*{
  cursor:default;
}

#main_component{
    height: 100vh;
}

.sidebar {
  /*background: linear-gradient(90deg, var(--nav-color1),var(--nav-color2)) !important;*/
  background-color: var(--sidebar-color)!important;
  position: fixed !important;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
}

.main_component {
  position: relative;
  z-index: 0;
  background-color: --back-color;
}

.nav-head{
  transition: all 0.2s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-color) !important;
}

.contentt{
  padding-left: 32px;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

.contentt h2 {
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  font-weight: 600;
}

.contentt h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px var(--title-coinverse);
}

.contentt h2:nth-child(2) {
  background: linear-gradient(90deg, var(--title-coinverse1),var(--title-coinverse2));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: animate 4s ease-in-out infinite;

  /*color: var(--title-coinverse);
  animation: animate 4s ease-in-out infinite;*/
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@media (max-width:540px) {
  .contentt{
    display: none;
  }
}

.trigger{
    color: var(--text-color);
    transition: 0.4s;
}

.switch-div{
    padding: 0;
}

.bulb-icon{
    color: var(--text-color);
    transition: 0.4s;
    transition: transform .2s;
}

.bulb-icon:hover{
  transform: scale(1.25);
  color:var(--bulb-color);
}

/* footer css */

.row{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--footer-back-color) !important;
  color: var(--light-shades) !important;
}
  
.footer h3 {
  font-size: 1.2rem;
}

.footer .row p{
  font-size: 1rem;
  line-height: 2rem;
  color: gray !important;
}

.footer a {
  color: var(--footer-text) !important;
}

.footer a:hover {
  color: var(--footer-hov) !important;
}
  
.tecnologies-division1{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  line-height: 2rem;
}

.tecnologies-division2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  line-height: 2rem;
}

#div-container-techlinks{
  display: flex;
}

.tech h3{
  padding-left: 27px;
}

.link-links {
  color: gray!important;
  font-size: 1rem;
  line-height: 2rem;
}

.socials{
  display: flex;
  flex-direction: column;
}

.socials h3{
  padding-left: 8px;
}

.social-icon{
  width:35px;
  height:35px;
  padding:3px;
  margin: 2px;
  border-radius: 50px;  
  border-top: 3px solid var(--footer-line);
  border-right: 3px solid var(--footer-line);
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

#github-icon{
  width:36px;
  height:36px;
  padding:1px;
}

.socials p{
  display: flex;
  justify-content: space-between;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.social-icon-div{
  transition: transform .2s;
  padding: 5px;
}

.social-icon-div:hover{
  transform: scale(1.3);
}

#underline1{
  background-color: var(--footer-line);
  height: 3px;
  width:225px;
  border-radius: 50px;
}

#underline2{
  background-color: var(--footer-line);
  height: 3px;
  width:105px;
  border-radius: 50px;
}

#underline3{
  background-color: var(--footer-line);
  height: 3px;
  width:48px;
  border-radius: 50px;
}

#footercomment{
  color: var(--footer-text) !important;
  text-align: center;
}

.tech-div{
  padding: 2px;
  margin: 0px;
  transition: transform .2s;
}

.tech-div:hover{
  transform: translateX(3px);
}

#home,
#crypto-currencies,
#crypto-news {
  transition: transform .2s;
}

#home:hover,
#crypto-currencies:hover,
#crypto-news:hover {
  transform: translateX(3px);
}

#google_translate_element select {
  background: #f6edfd;
  color: #383ffa;
  border: none;
  border-radius: 3px;
  padding: 6px 8px
}

@media (max-width:500px) {

  .row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #social-h3{
    padding-left: 0px;
  }

  #tech-h3{
    padding-left: 0px;
  }
  
  .link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #social-h3{
    align-self: center;
  }

  #links-section-h3{
    align-self: center;
  }

  .social-icon{
    width:30px !important;
    height:30px !important;
  }
}