:root{
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #F9F9F9;
   --pink: #0071bd;
   --light-blue: #e6f7ff;
   --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light-mode{
    --nav-color:  #fff !important;
    --back-color: #f5f5f5 !important;
    --text-color: black !important;
    --text-color-1: rgb(116, 113, 113) !important;
    --hov-color: #0071bd !important;
    --button-hov: #fff !important;
    --title-coinverse: #001529!important;
    --show-more-color: #00000097!important;
    --show-more-color-2: #0071bd!important;
    --bulb-color:black !important;
}

.dark-mode{
    --nav-color: rgb(27, 27, 27)!important;
    --back-color:rgb(0, 0, 0) !important;
    --text-color:  #fff !important;
    --text-color-1: rgb(94, 91, 91) !important;
    --hov-color: #f5f5f5 !important;
    --button-hov: rgb(40, 40, 40)!important;
    --title-coinverse: #ffffff!important;
    --show-more-color: #ffffff!important;
    --show-more-color-2: #0071bd!important;
    --bulb-color:rgb(251, 255, 0) !important;
}

a:hover{
    color: var(--hov-color) !important;
}

.app{
    display: flex;
    overflow: hidden;
}


.navbar{
    flex: 0.2;
    background-color: rgb(0, 21, 41);
}

.main{
    flex: 0.8;
    width: 100%;
    
}
.routes{
    padding: 20px;
    background-color: var(--back-color) !important;
    transition: 0.5s;
}

.nav-container{
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: rgb(0, 21, 41);
}

.ant-card-body{
    background-color: var(--nav-color) !important;
}

h4{
    color: var(--text-color) !important;
}

.ant-typography{
    color: var(--text-color) !important;
}

.logo-container{
    background-color: #002547;
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.logo a{
   color: white;
}

.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.loader{
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

@media screen and (max-width:800px){
    .app{
        flex-direction: column;
        overflow: hidden;
    }

    .navbar{
        flex: 1;
    }

    .nav-container{
        height: 8vh;
        position:fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--bgSecondary);
    }
  
    .menu-control-container{
        display: block !important;
    }

    .ant-menu{
        position: relative;
        right: 0px;
    }
    .home-title{
        font-size: 1.4rem !important;
    }
    .show-more{
        font-size: 1.3rem !important;
    }
}

.coin-detail-container{
    margin: 30px;
}

.coin-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--text-color); /* change */
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.coin-heading-container .coin-name{
    font-weight: 900;
    color: var(--pink); /* change */
}

.coin-heading-container p{
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 20px;
}

.stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.stats-container h2{
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 20px;
    color: var(--pink);
}

.coin-details-heading{
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: var(--pink) !important;
}

.coin-stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border); /* change */
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;
}

.coin-stats-name{
    display: flex;
    gap: 10px;
    font-size: 1rem;
}

.coin-stats-name-data{
    color: var(--text-color) !important;
}

.stats{
    font-weight: 800;
    color: var(--text-color) !important;
}

.coin-value-statistics-heading p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px;
}

.coin-desc-link h2{
    font-weight: 700;
    color: var(--pink);
}

.coin-desc-link p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link a{
    color: var(--pink);
}

.coin-desc-link h3{
    font-weight: 700;
}

.coin-desc{
    flex: 0.5;
}

.coin-links{
  padding: 0px 20px;
    flex: 0.5;
}

.coin-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}

.link-name{
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--text-color) !important;
}

.coin-link a{
    color: var(--pink);
    font-weight: 700;
    font-size: 1rem;
}

.coin-link:hover, .coin-stats:hover{
    background-color: var(--button-hov) !important; /* change */
}

@media screen and (max-width:1000px){
    .stats-container{
        flex-direction: column;
    }
    .coin-desc-link{
        flex-direction: column;
    }
    .stats-container h2{
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px){
    .coin-links{
        padding: 0px;
    }
    .coin-detail-container{
        margin: 0;
    }
}
@media screen and (max-width: 500px){
    .heading{
        margin-top: 20px;
    }
}

.select-news{
    width: 180px;
}
.news-card{
    min-height: 300px !important;
}
.news-image-container{
    display: flex !important;
    justify-content: space-between !important;
}

.ant-card-head-title{
    color: var(--text-color);
    transition: 0.5s;
}

.ant-statistic-content-value{
    color: var(--text-color) !important;
    transition: 0.5s;
    font-weight: 500;
    font-size: 25px;
}

.ant-statistic-title{
    background: rgb(255, 255, 255) ;
    border:1px solid rgb(156, 154, 154); 
    border-radius: 25px;
    color: var(--text-color-1) !important;
    transition: 0.5s;
    transition: transform .2s; /* Animation */
}

.ant-statistic-title:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    box-shadow: 1px 1px 3px rgba(40, 40, 40, 0.365);
}


@media screen and (max-width: 500px){
    .ant-statistic-title{
        padding:5px;
    }
}

.news-image-container .img{
    width:100px;
    height:100px;
}
.news-card p{
    color: black;
    margin: 10px 0px !important;
}
.provider-container{
    display: flex;
    justify-content: space-between;
}
.provider-name{
    margin-left: 10px;
}

.chart-header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #0071bd;
}
.chart-title{
    color: #0071bd !important;
}
.price-container{
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}
.price-change{
    font-weight: 900 !important;
    color: var(--text-color) !important;
}
.current-price{
    margin-top: 0px !important;
    font-weight: 900 !important;
    color: var(--text-color) !important;
}
.home-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
@media screen and (max-width:867px){
    .home-heading-container {
        flex-direction: column;
    }
}
.show-more{
    margin-top: 0px !important;
}

.show-more Button{
    background-color: var(--back-color) !important;
}

#show-more-text{
    color: var(--show-more-color) !important;
}

#show-more-text:hover{
    color: var(--show-more-color-2) !important;
}

.exchange-image{
    margin: 0px 10px !important;
}
.search-crypto{
    margin: 20px auto 30px auto;
    width: 250px;
    
}

.search-crypto Input{
    background-color: var(--nav-color) !important;
    transition: 0.6s;
}

.search-crypto Input::placeholder{
    color: var(--text-color) !important;
    transition: 0.5s;
}

.crypto-card-container{
    min-height: 65vh !important;
}

@media screen and (min-width:992px) and (max-width:1224px){
    .crypto-card-container {
        display: flex;
        justify-content: center;
        min-height: 65vh !important;
    }

    .home-heading-container{
        display: flex;  
        justify-content: space-around;
    }
    
}

@media screen and (min-width:576px) and (max-width:724px){
    .crypto-card-container {
        display: flex;
        justify-content: center;
        min-height: 65vh !important;
    }
}

.crypto-card{
    min-width: 250px;
    float: left;
    transition: transform .2s; /* Animation */
}

.crypto-card:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.crypto-card .crypto-image{
    width:35px;
}

.select-timeperiod{
    width: 200px !important;
    margin-top: 20px !important;
}

.heading{
    color: var(--text-color) !important;
    transition: 0.5s;
    padding-bottom: 15px;
    font-weight: 600 !important;
    font-size: 35px !important;
}

.top-heading {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px; 
}

.top-heading > .ant-row{
    text-align: center;
}

.home-title{
    color: var(--text-color) !important;
    transition: 0.5s;
}

p{
    color: var(--text-color) !important;
    transition: 0.5s;
}

@media screen and (max-width:420px){
    .top-heading{
        display: block;
        text-align: center;
    }

    .top-heading > .ant-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ant-row > .ant-col-8{
        max-width: 100%;
        color: var(--text-color) !important;
    }

}

::-webkit-scrollbar{
    width: 10px;
  }
  
::-webkit-scrollbar-thumb{
background-color: black;
background-clip: content-box;
border: 2px solid transparent;
border-radius: 15px;
}

::-webkit-scrollbar-track{
background-color: white;
}

.details-bookmark-button {
width: 100%;
display: grid;
grid-template-columns: [col1] 7% [col-space] 3% [col2] 30% [col3] 30% [col4] 30% [end];
grid-template-rows: [row1] 50% [row2] 50% [last-line];
padding-right: 10%;
}

.crypto-title {
display: grid;
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 3;
grid-column-end: 6;
text-align: center;
}

.bookmark-button {
display: grid;
grid-row-start: 1;
grid-row-end: 3;
grid-column-start: 1;
grid-column-end: 2;
}

.crypto-details {
display: grid;
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 3;
grid-column-end: 6;
text-align: center;
}

.not-bookmarked {
background-color: #ffffff;
}

.bookmarked {
background-color: goldenrod;
}

.bookmark-details {
display: flex;
justify-content: space-between;
align-items: center;
}
.bookmark-details > p {
color: rgb(116, 113, 113) !important;
}
.bookmark-image {
height: 25px
}

.ant-menu-submenu-title {
padding-left: 24px !important;
}

.ant-menu-submenu > ul > li.ant-menu-item {
padding-left: 48px !important;
padding-right: 10px;
height: auto;
white-space: normal;
}

ul.ant-menu-vertical > li.ant-menu-submenu-vertical > .ant-menu-submenu-title {
padding-left: 28px !important;
}

.ant-menu-submenu-popup > ul.ant-menu-vertical > li.ant-menu-item {
padding-left: 16px !important;
padding-right: 24px;
}

.ant-menu-submenu-popup > ul > li > .ant-menu-title-content {
left: 20px;
top: -40px;
position: relative;
}

.ant-menu-submenu-popup > ul.ant-menu-sub {
min-width: 220px !important;
}

.icon-logo{
transition: transform .2s;
}

.icon-logo:hover{
transform: scale(1.2);
}