:root{
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #F9F9F9;
   --pink: #0071bd;
   --light-blue: #e6f7ff;
   --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light-mode{
    --nav-color:  #fff !important;
    --back-color: #f5f5f5 !important;
    --text-color: black !important;
    --text-color-1: rgb(0, 0, 0) !important;
    --hov-color: #0071bd !important;
    --button-hov: #fff !important;
    --nav-hov-color: #fff;
    --nav-select: #fff!important;
    --nav-hov-select-color: #0071bd !important;
    --nav-color1: #69e1ef!important;
    --nav-color2: #5f67fa!important;
    --title-coinverse: #001529!important;
    --title-coinverse1: #69e1ef!important;
    --title-coinverse2: #5f67fa!important;
    --footer-text: #fff;
    --show-more-color: #00000097!important;
    --show-more-color-2: #0071bd!important;
    --bulb-color:black !important;
    --stats-card-bg-color: rgba(241, 241, 241, 0.861) !important;
    --graph-line-color:rgba(220, 220, 220, 0.906) !important;
}

.dark-mode{
    --nav-color: rgb(27, 27, 27)!important;
    --back-color:rgb(0, 0, 0) !important;
    --text-color:  #fff !important;
    --text-color-1: rgb(0, 0, 0) !important;
    --hov-color: #f5f5f5 !important;
    --button-hov: rgb(40, 40, 40)!important;
    --nav-hov-color: #0071bd !important;
    --nav-select: rgb(27, 27, 27)!important;
    --nav-hov-select-color: #0071bd !important;
    --nav-color1: #2b2e76!important;
    --nav-color2: rgb(0, 0, 0) !important;
    --title-coinverse: #ffffff!important;
    --title-coinverse1: #ffffff;
    --title-coinverse2: rgb(27, 27, 27)!important;
    --footer-text: whitesmoke;
    --show-more-color: #ffffff!important;
    --show-more-color-2: #0071bd!important;
    --bulb-color:rgb(251, 255, 0) !important;
    --stats-card-bg-color: rgba(0, 0, 0, 0.861) !important;
    --graph-line-color:white !important;
}

a:hover{
    color: var(--hov-color) !important; 
}

.app{
    display: flex;
    overflow: hidden;
}


.navbar{
    flex: 0.2;
    background-color: rgb(0, 21, 41);
}

.site-layout {
    background-color: var(--back-color);
}

.main{
    position: relative;
    margin-top: 63px;
    transition: all 0.2s;
}
.routes{
    padding: 20px;
    background-color: var(--back-color) !important;
    transition: 0.5s;
}

.nav-container{
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: rgb(0, 21, 41);
}

.ant-card-body{
    background-color: var(--nav-color) !important;
    transition: 0.6s;
    border-radius: 10px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h4{
    color: var(--text-color) !important;
}

.ant-typography{
    color: var(--text-color) !important;
}

.logo-container{
    background-color: #002547;
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.logo a{
   color: var(--title-coinverse);
}
.logo a:hover {
    color: var(--nav-hov-color) !important;
 }

.menu-control-container{
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.loader{
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

@media screen and (max-width:800px){
    .app{
        flex-direction: column;
        overflow: hidden;
    }

    .navbar{
        flex: 1;
    }

    .nav-container{
        height: 8vh;
        position:fixed;
        width: 100%;
        z-index: 100;
        background-color: var(--bgSecondary);
    }
  
    .menu-control-container{
        display: block !important;
    }

    .home-title{
        font-size: 1.4rem !important;
    }
    .show-more{
        font-size: 1.3rem !important;
    }
}

.coin-detail-container{
    margin: 30px;
}

.coin-heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--text-color); /* change */
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.coin-heading-container .coin-name{
    font-weight: 900;
    color: var(--pink); /* change */
}

.coin-heading-container p{
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 20px;
}

.stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.stats-container h2{
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 20px;
    color: var(--pink);
}

.coin-details-heading{
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: var(--pink) !important;
    margin-bottom: 10px !important;
    padding: 10px;
    padding-left: 0px;
}

.coin-stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border); /* change */
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;
}

.coin-stats-name{
    display: flex;
    gap: 10px;
    font-size: 1rem;
}

.coin-stats-name-data{
    color: var(--text-color) !important;
}

.stats{
    font-weight: 800;
    color: var(--text-color) !important;
}

.coin-value-statistics-heading p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px;
}

.coin-desc-link h2{
    font-weight: 700;
    color: var(--pink);
}

.coin-desc-link p{
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link a{
    color: var(--pink);
}

.coin-desc-link h3{
    font-weight: 700;
}

.coin-desc{
    color:var(--text-color-1);
    flex: 0.5;
    align-content: flex-start;
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;
}

.coin-links{
  padding: 0px 20px;
    flex: 0.5;
}

.coin-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}

.link-name{
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--text-color) !important;
}

.coin-link a{
    color: var(--pink);
    font-weight: 700;
    font-size: 1rem;
}

.coin-link:hover, .coin-stats:hover{
    background-color: var(--button-hov) !important; /* change */
}

@media screen and (max-width:1000px){
    .stats-container{
        flex-direction: column;
    }
    .coin-desc-link{
        flex-direction: column;
    }
    .stats-container h2{
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px){
    .coin-links{
        padding: 0px;
    }
    .coin-detail-container{
        margin: 0;
    }
}
@media screen and (max-width: 500px){
    .heading{
        margin-top: 20px;
    }
}

.select-news{
    width: 180px;
}
.news-card{
    min-width: 270px;
    min-height: 300px !important;
    background: rgba( 255, 255, 255, 0.1 );
    padding:10px;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.news-image-container{
    display: flex !important;
    justify-content: space-between !important;
    white-space: normal;
}

.news-image-container > img {
    margin-bottom: 0.5rem;
}

.ant-card-head-title{
    color: var(--text-color);
    transition: 0.5s;
    font-size: 20px;
    font-weight: 700;
    border-bottom: #000;
}

.ant-statistic-content-value{
    color: var(--text-color) !important;
    transition: 0.5s;
    font-weight: 600;
    font-size: 30px;
}

.ant-statistic-title{
    background: rgb(255, 255, 255) ;
    border-radius: 25px;
    color: var(--text-color-1) !important;
    transition: 0.5s;
    transition: letter-spacing .2s; /* Animation */
    font-weight: 700;
    font-size: 25px !important;
    padding: 5px;
}

.ant-statistic-title:hover:not(.ag-courses-item_title .ant-statistic-title) {
    letter-spacing: 1px;
}

@media screen and (max-width: 500px){
    .ant-statistic-title{
        padding:5px;
    }
}

.news-image-container .img{
    width:100px;
    height:100px;
}

.news-card p{
    color: black;
    margin: 10px 0px !important;
}
.provider-container{
    display: flex;
    justify-content: space-between;
}
.provider-name{
    margin-left: 10px;
}

.chart-header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #0071bd;
}
.chart-title{
    color: #0071bd !important;
}
.price-container{
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}
.price-change{
    font-weight: 900 !important;
    color: var(--text-color) !important;
}
.current-price{
    margin-top: 0px !important;
    font-weight: 900 !important;
    color: var(--text-color) !important;
}
.home-heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
@media screen and (max-width:867px){
    .home-heading-container {
        flex-direction: column;
    }
}
.show-more{
    margin-top: 0px !important;
}

.show-more Button{
    background-color: var(--back-color) !important;
}

#show-more-text{
    color: var(--show-more-color) !important;
}

#show-more-text:hover{
    color: var(--show-more-color-2) !important;
}

.exchange-image{
    margin: 0px 10px !important;
}
.search-crypto{
    margin: 30px auto 30px auto;
    max-width: 350px; 
}

.search-crypto Input{
    padding: 10px 20px;
    border-radius: 18px;

    background-color: var(--nav-color) !important;
    transition: 0.6s;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow:4px 4px 5px 1px rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.search-crypto Input:focus{
    border-color: darkgrey;
}

.search-crypto Input::placeholder{
    color: var(--text-color) !important;
    transition: 0.5s;
}

.crypto-card-container{
    min-height: 65vh !important;
    display: flex;
}



@media screen and (min-width:992px) and (max-width:1600px){
    .news-card-container {
        display: flex;
        justify-content: center;
    } 
}

@media screen and (min-width:576px) and (max-width:798px){
    .news-card-container {
        display: flex;
        justify-content: center;
    }
}

.stats-card-container {
    display: flex;
    justify-content: center;
  }

.crypto-card{
    min-width: 256px;
    float: left;
    padding-right: 0px;
}

.container-card {
    position: relative;
    background-color: transparent;
}

.card{
    padding:10px;
    padding-top: 20px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow:3px 3px 6px 1px rgba( 31, 38, 135, 0.2 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card p{
    border-radius: 10px;
    font-weight: 450;
    margin-left: 4px;  
}

.crypto-card .crypto-image{
    width:35px;
}

.card-grid {
    display: grid;
    grid-template-columns: [col1] 36px [col2] calc(25% - 9px) [col3] calc(25% - 9px) [col4] calc(25% - 9px) [col5] calc(25% - 9px) [end];
    grid-template-rows: [row1] 25% [row2] 25% [row3] 25% [row4] 25% [last-line];
}

.card-bm {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 10px;
}

.card-details {
    transition: transform .3s; /* Animation */
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 6;
    border-radius: 10px;
    z-index: 2;
}

.card-bg {
    transition: transform .3s; /* Animation */
    background: rgba( 255, 255, 255, 0.1 );
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 6;
    border-radius: 10px;
    z-index: 1;
}

.card-details:hover {
    z-index: 100;
    transform: scale(1.1);
    box-shadow:3px 3px 6px 1px rgba( 31, 38, 135, 0.2 );
}

.card-details:hover + .card-bg {
    z-index: 99;
    transform: scale(1.1);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
}

.news-grid {
    display: grid;
    grid-template-columns: [col1] 20% [col2] 20% [col3] 20% [col4] 20% [col5] 20% [end];
    grid-template-rows: [row1] 25% [row2] 25% [row3] 25% [row4] 25% [last-line];
}

.news-card-grid{
    transition: transform .3s; /* Animation */
    box-shadow:3px 3px 6px 1px rgba( 31, 38, 135, 0.2 );
    border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    z-index: 2;
}

.news-bg {
    transition: transform .3s; /* Animation */
    background: rgba( 255, 255, 255, 0.1 );
    border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    z-index: 1;
}

.news-card-grid:hover {
    z-index: 100;
    transform: scale(1.1);

}

.news-card-grid:hover + .news-bg {
    z-index: 99;
    transform: scale(1.1);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
}

.ant-card-head {
    border-bottom: none !important;
}

.select-timeperiod{
    width: 200px !important;
    margin-top: 20px !important;
}

.heading{
    color: var(--text-color) !important;
    transition: 0.5s;
    padding-bottom: 15px;
    font-weight: 600 !important;
    font-size: 35px !important;
}

.top-heading {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px; 
}

.top-heading > .ant-row{
    text-align: center;
}

.home-title{
    color: var(--text-color) !important;
    transition: 0.5s;
}

p{
    color: var(--text-color) !important;
    transition: 0.5s;
}

@media screen and (max-width:420px){
    .top-heading{
        display: block;
        text-align: center;
    }

    .top-heading > .ant-row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ant-row > .ant-col-8{
        max-width: 100%;
        color: var(--text-color) !important;
    }

}

::-webkit-scrollbar{
    width: 10px;
  }
  
::-webkit-scrollbar-thumb{
background-color: black;
background-clip: content-box;
border: 2px solid transparent;
border-radius: 15px;
}

::-webkit-scrollbar-track{
background-color: white;
}

.details-bookmark-button {
width: 100%;
display: grid;
grid-template-columns: [col1] 16px [col-space] calc(10% - 16px) [col2] 30% [col3] 30% [col4] 30% [end];
grid-template-rows: [row1] 50% [row2] 50% [last-line];
padding-right: 10%;
}

.crypto-title {
display: grid;
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 3;
grid-column-end: 6;
text-align: center;
}

.bookmark-button {
display: grid;
grid-row-start: 1;
grid-row-end: 3;
grid-column-start: 1;
grid-column-end: 2;
}

.crypto-details {
display: grid;
grid-row-start: 2;
grid-row-end: 3;
grid-column-start: 3;
grid-column-end: 6;
text-align: center;
}

.not-bookmarked {
background-color: #ffffff;
}

.bookmarked {
    background:  goldenrod;
}

.bookmark-details {
display: flex;
justify-content: space-between;
align-items: center;
}
.bookmark-details > p {
color: rgb(116, 113, 113) !important;
}
.bookmark-image {
height: 25px
}

.bookmark-button .ant-btn,
.card-bm .ant-btn {
    border-color: transparent;
}

.bookmark-button .ant-btn:hover:not(.not-bookmarked),
.card-bm .ant-btn:hover:not(.not-bookmarked) {
    color: white;
}

.bookmark-button .ant-btn:hover:not(.bookmarked),
.card-bm .ant-btn:hover:not(.bookmarked) {
    color: goldenrod;
}

.ant-menu-submenu-title {
padding-left: 24px !important;
}

.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background: none;
}

.ant-menu-item-selected {
    background-color: var(--nav-select) !important;
    color: var(--title-coinverse) !important;
}

.ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected), 
.ant-menu-submenu-title:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) {
    color: var(--title-coinverse) !important;
}
.ant-menu-item:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected),
.ant-menu-item:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) a, 
.ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected),
.ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) a {
    color: var(--nav-hov-color) !important;
}

.ant-menu-item-selected:hover,
.ant-menu-item-selected:hover a,
.ant-menu-submenu-title:hover,
.ant-menu-submenu-title:hover a {
    color: var(--nav-hov-select-color) !important;
}

.ant-menu-submenu > ul > li.ant-menu-item {
padding-left: 48px !important;
padding-right: 10px;
height: auto;
white-space: normal;
}

ul.ant-menu-vertical > li.ant-menu-submenu-vertical > .ant-menu-submenu-title {
padding-left: 28px !important;
}

.ant-menu-submenu-popup > ul.ant-menu-vertical > li.ant-menu-item {
padding-left: 16px !important;
padding-right: 24px;
}

.ant-menu-submenu-popup > ul > li > .ant-menu-title-content {
left: 20px;
top: -40px;
position: relative;
}

.ant-menu-submenu-popup > ul.ant-menu-sub {
min-width: 220px !important;
}

.ant-menu-submenu-popup {
    position: fixed !important;
}

.icon-logo{
transition: transform .2s;
}

.icon-logo:hover{
transform: scale(1.2);
}

@media screen and (max-width:400px){
    .routes{
        padding: 0 12px !important;
    }
    
}

.ag-courses_item {
    min-width: 256px;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 28px;
    box-shadow:3px 3px 6px 1px rgba( 31, 38, 135, 0.2 );
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    display: grid;
    grid-template-columns: [col1] 20% [col2] 20% [col3] 20% [col4] 20% [col5] 20% [end];
    grid-template-rows: [row1] 25% [row2] 25% [row3] 25% [row4] 25% [last-line];
}

.ag-courses_item:hover{
    transform: scale(1.1);
}

.ag-courses-item_link {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    background: transparent;
}

.ag-courses-item_bg-container {
    padding: 30px 20px;
    background-color: var(--stats-card-bg-color);
    overflow: hidden;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    display: grid;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses_item:hover {
    position: relative;
    z-index: 100;
}

.ag-courses-item_title {
    padding: 30px 20px;
    min-height: 5px;
    overflow: hidden;
    color: #FFF ;
    z-index: 2;
    position: relative;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background: linear-gradient(90deg, var(--title-coinverse1), var(--title-coinverse2));

    z-index: 2;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.graph{
    background-color: var(--graph-line-color);
    border-radius: 25px;
    padding: 5px;
    margin: 2px;
    box-shadow:4px 4px 5px 1px rgba( 31, 38, 135, 0.37 );
}